.c {
    width: 30%;
    height: 40vh;
    margin: 20px 10px;
    border: 2px solid rgb(245, 242, 242);
    border-radius: 10px 10px 0px 0px;
    box-shadow: 1px 1px 1px 3px;
    overflow: hidden;
}

.c-img {
    width: 100%;
    transition: all 8s ease;
}

.c:hover .c-img {
    transform: translateY(-100%)
}