.cl{
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.cl-texts{
    width: 65%;
}

.cl-title{
    font-size: 50px;
    font-weight: 600;
}

.cl-desc{
    margin: 20px 0px;
}

.cl-list{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 480px){
    .cl{
        padding: 10px;
    }
    .cl-title{
        margin-top: 20px;
        font-size: 30px;
    }
    .cl-texts{
        width: 100%;
    }
    .cl-desc{
        display: none;
    }
}